.Search {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 50px;
}

.Search-header {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.mid-text {
    color: #000000;
}

.searchBox {
    background-color: white;
    margin: 10 !important;
    padding: 10 !important;
}
